<% @cutes.each do |cute| %>
    <div class="link row clearfix">
      <h2>
        <% cute %>
        <%= link_to cute.title, cute %><br>
        <!-- <small class="author">Submitted <%= time_ago_in_words(cute.created_at) %> by <%= cute.user.name %></small> -->
      </h2>
      <div>
        <a>
          <img src="<%= cute.url %>">
        </a>
      </div>

      <div class="btn-group">

        <a class="btn btn-default btn-sm" href="<%= cute.url %>">Visit Link</a>
        <%= link_to  like_cute_path(cute), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote
            <%= cute.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_cute_path(cute), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
          <%= cute.get_downvotes.size %>
        </span>
        <% end %>
      </div>
    </div>

<% end %>