<div class="page-header">
  <h1><a href=<%= @cute.url %>><%= @cute.title %></a><br> <small>Submitted by <%= @cute.user.name %></small></h1>
</div>

<div class="btn-group">

  <%= link_to 'Visit URL', @cute.url, class: "btn btn-primary" %>
</div>

<div class="btn-group pull-right">
  <%= link_to like_cute_path(@cute), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%= @cute.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_cute_path(@cute), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
      <%= @cute.get_downvotes.size %>
    </span>
  <% end %>
</div>

<% if @cute.user == current_user -%>
    <div class="btn-group">
      <%= link_to 'Edit', edit_cute_path(@cute), class: "btn btn-default" %>
      <%= link_to 'Destroy', @cute, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </div>
<% end %>




