<% @gkeeys.each do |gkeey| %>
<div class="link row clearfix">
  <h2>
    <% gkeey %>
    <%= link_to gkeey.title, gkeey %><br>
    <!-- <small class="author">Submitted <%= time_ago_in_words(gkeey.created_at) %> by <%= gkeey.user.name %></small> -->
  </h2>
  <div>
    <a>
      <img src="<%= gkeey.url %>">
    </a>
  </div>

  <div class="btn-group">

    <a class="btn btn-default btn-sm" href="<%= gkeey.url %>">Visit Link</a>
    <%= link_to  like_gkeey_path(gkeey), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= gkeey.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_gkeey_path(gkeey), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
          <%= gkeey.get_downvotes.size %>
        </span>
    <% end %>
  </div>
</div>

<% end %>