<div class="page-header">
      <h1><a href=<%= @gkeey.url %>><%= @gkeey.title %></a><br> <small>Submitted by <%= @gkeey.user.name %></small></h1>
    </div>

    <div class="btn-group">

      <%= link_to 'Visit URL', @gkeey.url, class: "btn btn-primary" %>
    </div>

    <div class="btn-group pull-right">
      <%= link_to like_gkeey_path(@gkeey), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= @gkeey.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_gkeey_path(@gkeey), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
      <%= @gkeey.get_downvotes.size %>
    </span>
      <% end %>
    </div>

    <% if @gkeey.user == current_user -%>
        <div class="btn-group">
          <%= link_to 'Edit', edit_gkeey_path(@gkeey), class: "btn btn-default" %>
          <%= link_to 'Destroy', @gkeey, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        </div>
    <% end %>




